
body {
    margin: 10%;

    font-family: Calibri, sans-serif;

    transform-style: preserve-3d;
    perspective: 1080px;
}

h1 {
    transform: translateZ(0px) rotateY(20deg);
}

h2 {
    display: inline-block;
    transform: translateZ(0px) rotateY(20deg);
}

p {
    transform: translateZ(0px) rotateY(-5deg);
}
