
body {
    margin: 10%;

    font-family: Calibri, sans-serif;

    perspective: 100vw;
    transform-style: preserve-3d;
}

h1 {
    transform: translate3d(0, 0, -800px) rotateY(-40deg);

    font-size: 20em;
}

h2 {
    transform: translate3d(-600px, 0, -1500px) rotateY(45deg);

    font-size: 5em;
}

p {
    transform: translate3d(0, 0, 0px) rotateY(-10deg);
}
