
body {
    padding: 20%;
    margin: 0;

    font-family: Calibri, sans-serif;

    perspective: 100vw;
    transform-style: preserve-3d;

    overflow-x: hidden;
}

h1 {
    font-size: 15em;
    
    text-align: right;
}

h2 {
    font-size: 5em;
}

p {
    margin-left: 50%;
}



h1 {
    transform: translate3d(0, 0, -1500px) rotateY(-30deg);
}

h2 {
    transform: translate3d(-350px, 0, -1000px) rotateY(45deg);
}

p {
    transform: translate3d(0, 0, 0px) rotateY(-15deg);
}